
module.exports = {
    basicAuth: {
        name: 'admin',
        password: 'password'
    },
    defaults: {
        launch: {

        },
        pdf: {// https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagepdfoptions
            format: 'A4',
            margin: {
                // top: '100px',
                // right: '20px',
                // bottom: '100px',
                // left: '20px'
                top: '0',
                right: '0',
                bottom: '0',
                left: '0'
            },
            scale: 0.7
        },
    },
}